<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CatsJuice</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/setting.css">
    <link rel="stylesheet" href="./css/search.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./js/vue-resource.min.js"></script>


</head>

<body>
    <div id="app">
        <!-- 背景 -->
        <div class="bg">
            <div ref='lunbo' class="lunbo" :style="{'left': left+'vw', 'transform':'translateX('+move_x+'px)'}">
                <div class="lunbo-item" v-for="img in lunbo" :key="img.id"
                    :style="{ 'background-image': 'url('+img.src+')' }">
                </div>
            </div>
        </div>

        <!-- 导航点 -->
        <div class="dots">
            <div :class="['dot', item.id==current_lunbo?'current_dot':'normal_dot']" v-for="item in lunbo"
                :key="item.id" @click="switch_bg(item.id)">
            </div>
        </div>

        <!-- 主视图 -->
        <div id="main-container" ref='main'>
            <div :class="['card', is_mobile ? 'mobile-card' : 'pc-card']">
                <div :class="['card-bg', style_h1]"></div>
                <div :class="['time']">{{ h1 }}</div>
                <div class="line"></div>
            </div>
            <div :class="['card', is_mobile ? 'mobile-card' : 'pc-card']">
                <div :class="['card-bg', style_h2]"></div>
                <div :class="['time']">{{ h2 }}</div>
                <div class="line"></div>
            </div>
            <div class="devide">
                <span class="point"></span>
                <span class="point"></span>
            </div>
            <div :class="['card', is_mobile ? 'mobile-card' : 'pc-card']">
                <div :class="['card-bg', style_m1]"></div>
                <div :class="['time']">{{ m1 }}</div>
                <div class="line"></div>
            </div>
            <div :class="['card', is_mobile ? 'mobile-card' : 'pc-card']">
                <div :class="['card-bg', style_m2]"></div>
                <div :class="['time']">{{ m2 }}</div>
                <div class="line"></div>
            </div>
            <div class="devide">
                <span class="point"></span>
                <span class="point"></span>
            </div>
            <div :class="['card', is_mobile ? 'mobile-card' : 'pc-card']">
                <div :class="['card-bg', style_s1]"></div>
                <div :class="['time']">{{ s1 }}</div>
                <div class="line"></div>
            </div>
            <div :class="['card', is_mobile ? 'mobile-card' : 'pc-card']">
                <div :class="['card-bg', style_s2]"></div>
                <div :class="['time']">{{ s2 }}</div>
                <div class="line"></div>
            </div>

            <div class="words" :style="{ 'color': words_color }">
                北京时间 {{ y }} 年 {{ m }} 月 {{ d }}日
                <p>&copy;CatsJuice</p>
            </div>
        </div>

        <!-- 搜索 -->
        <div id="search-container">
            <div @mouseover='search_hover' @mouseout='search_blur'
                :class="['search', search_extend?'search-extend': '']">
                <input ref='search_input' type="text" v-model="search_content" :placeholder="search_placeholder"
                    @keyup.enter="do_search">
                <div :class="['btn', search_extend?'btn-extend':'btn-normal']" @click='do_search'>

                </div>
            </div>
        </div>

        <!-- 设置 -->
        <div ref="setting" :class="['setting', show_setting?'setting-active':'setting-hide']">
            <div class="empty"></div>
            <div class="card">
                <div class="close-btn" @click='switch_setting'>
                    <!-- <img src="" alt=""> -->
                </div>

                <div class="list">
                    <div v-for='item in lunbo' class="list-item" :key='item.id'
                        :style="{ 'background-image': 'url('+item.src+')' }" @click='current_lunbo = item.id'>
                        <div class="delete-btn" @click.stop='delete_img(item.id)'></div>
                        <div class="font-setting-container">
                            <div class="font-card" @click.stop=''>
                                <div class="title">更改文字颜色</div>
                                <div class="switch-btn" @click.stop='switch_color(item.id)'>
                                    <div :class="['con', item.color=='light'?'on':'off']">
                                        <div class="light">light</div>
                                        <div class="circle"></div>
                                        <div class="dark">dark</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-item" @click='click_select_file'
                        style="margin-right: 160px; background-color: rgb(228, 228, 228); box-shadow: 0 0 10px rgba(0,0,0,.2)">
                        <input ref='file_select' type="file" name="file" accept="image/png,image/jpg,image/jpeg"
                            id="file" @change="add_img" style="display:none;" />
                        <div class="add-btn">
                            <img src="./img/icon/add.png" alt="">
                        </div>
                    </div>
                    <!-- <div style="width: 160px; height: 100%; background: black;"></div> -->
                </div>
            </div>
        </div>

        <!-- 设置图标 -->
        <div class="setting-btn" @click='switch_setting'>
            <img src="./img/icon/setting.png" alt="">
        </div>

        <!-- 消息动画 -->
        <!-- <div class="show_msg animate">
            {{ msg }}
        </div> -->
    </div>

    <script src="./js/main.js"></script>
</body>

</html>